.contactFormContainer {
    padding: 0px 8px 16px;
    max-width: 1024px;
    margin: 0 auto;
}

.formContainer{
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 16px;
}

.sectionIntro{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 8px;
}

.formContainer p {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formContainer p label {
    display: flex;
    flex-direction: column;
}

input {
    height: 48px;
    border-radius: 10px;
    padding: 8px;
    margin: 8px 0;
}

textarea {
    padding: 8px;
    height: 48px;
    border-radius: 10px;
    margin: 8px 0;
}

.longMessage {
    height: 160px;
}

button {
    background-color: #4057A3;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #4057A3;
    transform: scale(1.02);
}

@media only screen and (min-width: 800px) {
    .contactFormContainer {
        padding: 32px 112px;
    }
    .row {
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}