.contactFormContainer {
    padding: 8px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 16px;
}

.formContainer p {
    display: flex;
    flex-direction: column;
}

.formContainer p label {
    display: flex;
    flex-direction: column;
}

input {
    height: 48px;
    border-radius: 10px;
    padding: 8px;
    margin: 8px 0;
    
}

textarea {
    padding: 8px;
    height: 96px;
    border-radius: 10px;
    margin: 8px 0;
}

.longMessage {
    height: 160px;
}

button {
    background-color: #4057A3;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 20px;
}