
.headerContainer {
    flex:1 1 auto;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    gap: 16px;
    min-height: 500px;;
    
}

.heroContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
        
}

.gridImage {
    flex: 1 2 auto;
    height: 100px;
}
.heroText {
    font-family: "Gilda Display", sans-serif;
	font-size: 48px;
    text-align: center;
    position: relative;
    line-height: normal;
    padding: 0 8px;
}

.highlight {
    font-family: 'Open Sans';
	font-style: italic;
    font-weight: 900;
    color: #4057A3;
}

.heroTextnField {
    display: flex;
    flex-direction: column;
    padding: 8px;
    position: relative;
}

.field {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    text-align: center;
    background: rgba(20, 11, 2, 0.76);

}

.heroButtonContainer{
    flex:0;
    padding: 16px;
    display: flex;
}

.heroButton{
    background-color: #4057A3;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.heroButton:hover {
    background-color: #fff;
    color: #4057A3;
    transform: scale(1.02);
}


.overlay {
    grid-area: 1/1;
    position: relative;
    background: linear-gradient(#00000000 77%, #140B02);
}


@media (orientation:landscape) {
    .headerContainer {

        height: unset;
    }

    .gridImage {
        height: 300px;
    }
}


@media only screen and (min-width: 1024px) {
    .heroText{
        font-size: 96px;
    }

    .heroTextnField {
        
        justify-content: center;
        align-items: center;
    }
    .fieldContainer {
        display: flex;
        padding: 0 68px;
        width: 600px;
        justify-content: center;
        align-items: center;
    }
    .field {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        font-size: 32px;
        flex: 1 0 0;
        align-self: stretch;
    }
    .heroButtonContainer{
        justify-content: flex-end;
        padding-right: 80px;
    }

    .heroButton {
        max-width: 320px;
    }

}


@media only screen and (min-width: 1512px) {

    .headerContainer {
        height: unset;
    }
    .heroContainer{
        flex-direction: row;
        padding: 24px 0;
    }

    .gridImage {
        height: unset;
        width: 100%;
    }

    .overlay {
        background: linear-gradient(to right,#00000000 77%, #140B02);
    }

    .heroContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .heroText {
        margin-top: 0;
    }
   

   

}

