.instaFeedContainer {
    max-width: 1024px;
    margin: 0 auto;
}

.feedContainer {
    max-width: 500px;
    margin: 0 auto;
    cursor: default;
}

.sectionIntro {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 32px 0;
}

.social {
    width: 50px;
}

@media only screen and (min-width: 800px) {
    .instaFeedContainer {
        display: flex;
        padding: 16px 96px;
        align-items: center;
        
    }
}