.logo {
    flex-shrink:0;
    flex-grow:0;
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 48px;
    padding: 4px;
}

.logoGraphic {
    width: 106px;
}

.logoText {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;

   
}

.companyName {
    font-family: "Microgramma", sans-serif;
    font-size: 20px;
    line-height: 1.4;
}

.slogan {
    font-family: "Alegreya", Garamond, serif;
    font-size: 18px;
    
}

@media only screen and (min-width: 744px) {
    .logoGraphic {
        width: 178px;
    }

    .companyName {
        font-size: 36px;
    }
    .slogan {
        font-size: 24px;
    }
}